@use '../../style/mixins' as *;
@use '../../style/fonts' as *;
@use '../../style/breakpoints' as *;




.hotelCard {
    background-color: var(--card-bg);
    width: 100%;
    height: 27rem;
    cursor: pointer;
    @include element-border-radius;
    @include box-shadow;
    @include element-transform-transition;


    &__coverImage {
        width: 100%;
        height: 15rem;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 0.625rem;
            border-top-right-radius: 0.625rem;
            filter: brightness(92%)
        }
    }


    &__details {
        width: 100%;
        height: 12rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        h3 {
            @include font-sub-title('Poppins');
            color: var(--brand-primary);
        }

        p {
            @include font-small('Poppins');
        }


        .nameLocation {
            margin-bottom: 1rem;
        }
        
        
        .pricingInfo {
            display: flex;
            justify-content: flex-start;
            gap: 0.5rem;

            
            p {
                align-self: center
            }
        }
    }
}