@use '../../style/fonts' as *;
@use '../../style/mixins' as *;






.searchResults {
    @include container-padding;

    
    &__reservationForm {
        // width: 64rem;
        // background-color: red;
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }


    &__displayResults {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;


        .resultsMetadata {
            // background-color: beige;
            width: 30%;


            h3 {
                @include font-title('Poppins');
            }


            .mapContainer {
                @include element-border();
                height: 12rem;
                border: 1px solid var(--border-default);


                img {
                    width: 100%;
                    object-fit: cover;
                }
            }




        }


        .resultsContent {
            width: 70%;

            .options {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;


                h3 {
                    align-self: center;
                    @include font-title('Poppins');
                }

                .filter {
                    background-color: var(--background-primary);
                    @include element-border;
                    border: 1px solid var(--border-default);
                    padding: 0.5rem;
                    cursor: pointer;
                }
            }


            .hotelsList {
                margin-bottom: 1rem;
            }

        }

    }



}