/* login page styling */
.log-in-wrapper {
  text-align: center;
}

.login-account-section {
  margin-top: 5%;
  margin-bottom: 3%;
}

.log-in-header-text {
  font-family: 'Lora', serif;
}

.login-other-error-text {
  color: red;
  font-family: 'Lora', serif;
}

.login-form {
  margin-left: 20%;
  margin-right: 20%;
}

.login-input-group-margin {
  margin-bottom: 8%;
}

.login-input-group-style {
  height: 45px;
}

.login-input-group-error {
  border: 1px solid red;
  height: 45px;
}

.input-group-text {
  cursor: pointer;
}

.login-email-control:focus {
  box-shadow: none;
  border: 2px solid var(--text-control-border);
}

.login-password-control:focus {
  box-shadow: none;
  border: 2px solid var(--text-control-border);
}

.log-in-brand-logo {
  cursor: pointer;
  font-style: italic;
  font-size: 1.7rem;
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 5%;
}


.login-btn {
  width: 100%;
  height: 45px;
  background-color: var(--primary-color);
  color: white;
}

.login-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.login-tnc-text {
  font-size: 0.8rem;
}

.login-tnc-span {
  color: blue;
  cursor: pointer;
}


.forgot-password-text {
  font-size: 0.8rem;
  color: blue;
  cursor: pointer;
}

.sign-up-span {
  color: blue;
  cursor: pointer;
}

.create-account-text {
  font-size: 0.8rem;
}

.continue-with-text {
  font-size: 0.8rem;
}

.alt-sign-in-icon {
  cursor: pointer;
}

.alt-sign-in-icon:hover {
  color: var(--primary-color);
}

.footer-gap {
  margin-bottom: 15%;
}





/* responsive styling */
@media (max-width: 480px) {
  .login-form {
    margin-left: 8%;
    margin-right: 8%;
  }

  .login-other-error-text {
    color: red;
    font-family: 'Lora', serif;
    font-size: 0.78rem;
    padding-left: 2%;
    padding-right: 2%;
  }
}