@use 'sass:color';

@use '../../style/mixins' as *;
@use '../../style/breakpoints' as *;
@use '../../style/colours' as *;







.scrollToTop {
    position: fixed;
    bottom: 100px;
    right: 25px;
    background-color: var(--brand-primary);
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    @include element-border-radius;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    pointer-events: none;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s ease;



    &.visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
        transition-delay: 0s;
     }


    &:hover {
        background-color: color.adjust(#0f766e, $lightness: 10%);
    }



    @include mini-mobile {
        width: 2.6rem;
        height: 2.6rem;
    }


    @include tablet {
        width: 2.6rem;
        height: 2.6rem;
    }



    &__icon {
        color: white;
        cursor: pointer;
    }
}