@use '../../style/fonts' as *;
@use '../../style/mixins' as *;
@use '../../style/breakpoints' as *;




.reviewCard {
    width: 24rem;
    padding: 1rem;
    @include element-border;
    @include element-border-radius;


    @include mini-mobile {
        width: 100%;
    }


    @include mobile {
        width: 100%;
    }


    @include tablet {
        width: 21rem;
    }


    .authorInfo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;


        .profile {
            display: flex;
            gap: 0.5rem;


            img {
                width: 5rem;
                height: 4rem;
                object-fit: cover;
            }


            .authorNameAndCountry {
                align-self: center;


                .authorName {
                    @include font-regular('Poppins');
                    font-weight: 600;
                    // color: var(--brand-primary)
                    
                }


                .authorCountry {
                    @include font-small('Poppins');
                }
            }

        }


        .timeAgo {

            p {
                @include font-small('Poppins');
            }
        }
    }


    .reviewContent {
        // background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 12rem;

        .reviewBody {
            @include font-small('Poppins');
        }

        .readMore {
            @include font-small('Poppins');
            font-weight: 600;
            color: var(--brand-primary);
            cursor: pointer;
        }
    }
}
