@use '../../style/fonts' as *;
@use '../../style/mixins' as *;
@use '../../style/breakpoints' as *;






.home {


  // re-usable styles within component
  .titleText {
      @include font-title('Poppins');
      color: var(--text-heading);
      margin-bottom: 1rem;
  }

  .regularText {
      @include font-regular('Poppins');
      color: var(--text-primary);
  }

  .marginBottom {
    margin-bottom: 3rem;
  }


   
  // element styling
  &__hero {
      height: 27rem;
      background-image: url('../../assets/images/hero_2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      h3 {
          @include font-sub-title('Poppins');
          font-size: 3rem;
          color: var(--white);


        // mini-mobile responsive styling
        @include mini-mobile {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }


        // mobile responsive styling
        @include mobile {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }

        // mobile responsive styling
        @include mobile {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
      }


      .reservationWrapper {
        width: 64rem;

        // mini-mobile responsive styling
        @include mini-mobile {
          max-width: 80% !important;
        }


        // mobile responsive styling
        @include mobile {
          max-width: 80% !important;
        }
        

        // tablet responsive styling
        @include tablet {
          max-width: 70%;
        }
      }
   }


  .mainContent {
    @include base-padding();


    // mini-mobile responsive styling
    @include mini-mobile {
      @include base-padding(0, 2rem);
    }


    // mobile responsive styling
    @include mobile {
      @include base-padding(0, 2rem);
    }
  }


   &__hotelsList {
    margin-bottom: 4rem;


     .hotelsGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      gap: 1rem;
     }
   }



   &__aboutUs {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;



    // mini-mobile responsive styling
    @include mini-mobile {
      height: 100%;
      display: flex;
      flex-direction: column;
    }


    // mobile responsive styling
    @include mobile {
      height: 100%;
      display: flex;
      flex-direction: column;
    }


    // tablet responsive styling
    @include tablet {
      height: 100%;
      display: flex;
      flex-direction: column;
    }



    .nameContainer {
      align-self: center;
      width: 15%;


      // mini-mobile responsive styling
      @include mini-mobile {
        width: 100%;
      }


      // mobile responsive styling
      @include mobile {
        width: 100%;
      }


      // tablet responsive styling
      @include tablet {
        width: 100%;
      }



      h3 {
        @include font-sub-title('Poppins');
        color: var(--text-heading);
        font-size: 2rem;;
      }
    }


    .briefDescriptionContainer {
      align-self: center;
      width: 35%;


      // mini-mobile responsive styling
      @include mini-mobile {
        width: 100%;
      }


      // mobile responsive styling
      @include mobile {
        width: 100%;
      }


      // tablet responsive styling
      @include tablet {
        width: 100%;
      }
      

      p {
        @include font-regular('Poppins');
        color: var(--text-primary);
        line-height: 1.8rem;
      }
    }


    .ourImagesContainer {
      width: 40%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
      


      // mini-mobile responsive styling
      @include mini-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }


      // mobile responsive styling
      @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }


      // tablet responsive styling
      @include tablet {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1rem;
      }


      img {
        width: 100%;
        height: 100%;
        @include element-border-radius;
        object-fit: cover;
        filter: brightness(92%);


        // mini-mobile responsive styling
        @include mini-mobile {
          width: 100%;
        }


        // mobile responsive styling
        @include mobile {
          width: 100%;
        }


        // tablet responsive styling
        @include tablet {
          width: 100%;
        }
      }

    }

   }



   &__trending {

    p {
      margin-bottom: 1rem;
    }


    .trendingGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 1rem;
    

      // mini-mobile responsive styling
      @include mini-mobile {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      }


      // mobile responsive styling
      @include mobile {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      }


      // tablet responsive styling
      @include tablet {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      }
      

      .destinationItem {
        width: 100%;
        position: relative;
        cursor: pointer;
        

        .destinationImage {
          width: 100%;
          @include element-border-radius;
          filter: brightness(90%);


          //mini-mobile responsive styling
          @include mini-mobile {
            width: 100%;
          }


          // mobile responsive styling
          @include mobile {
            width: 100%;
          }


          // tablet responsive styling
          @include tablet {
            width: 100%;
          }
        }


        .destinationTarget {
          position: absolute;
          top: 1rem;
          left: 1rem;
          display: flex;
          gap: 1rem;
          height: 3rem;


          p {
            align-self: flex-end;
            @include font-sub-title('Poppins');
            font-size: 1.2rem;
            color: var(--white);


            // mini-mobile responsive styling
            @include mini-mobile {
              @include font-regular('Poppins');
            }
          }


          .destinationFlag {
            width: 3rem;
            height: 2.5rem;
            @include element-border-radius;

            // mini-mobile responsive styling
            @include mini-mobile {
              width: 2rem;
              height: 2rem;
            }

          }
        
        }

      }
    }
   }



   &__ourPartners {

    p {
      margin-bottom: 1rem;
    }
    

    .partnerIcons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));


      // mini-mobile responsive styling
      @include mini-mobile {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
        gap: 1rem;
      }


      img {
        width: 4rem;
        @include element-border-radius;


        // mini-mobile responsive styling
        @include mini-mobile {
          width: 3rem;
        }
      }
    }
   }


}