@use '../../style/fonts' as *;
@use '../../style/mixins' as *;






.home {

  // re-usable styles within component
  .titleText {
      @include font-title('Poppins');
      font-size: 1.8rem;
      color: var(--text-heading);
      margin-bottom: 1rem;
  }

  .regularText {
      @include font-regular('Poppins');
      color: var(--text-primary);
  }

  .marginBottom {
    margin-bottom: 3rem;
  }


   
  // element styling
  &__hero {
      height: 27rem;
      background-image: url('../../assets/images/hero_2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      h3 {
          @include font-sub-title('Poppins');
          font-size: 3rem;
          color: var(--white);
      }
   }


  .mainContent {
    @include container-padding;
  }


   &__hotelsList {
    margin-bottom: 6rem;


     .hotelsGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      gap: 1rem;
     }
   }



   &__aboutUs {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;



    .nameContainer {
      align-self: center;
      width: 15%;


      h3 {
        @include font-sub-title('Poppins');
        color: var(--text-heading);
        font-size: 2rem;;
      }
    }


    .briefDescriptionContainer {
      align-self: center;
      width: 35%;

      p {
        @include font-regular('Poppins');
        color: var(--text-primary);
        line-height: 1.8rem;
      }
    }


    .ourImagesContainer {
      width: 40%;
      display: flex;
      justify-content: space-between;

      img {
        width: 10rem;
        @include element-border;
        object-fit: cover;
        filter: brightness(92%)
      }

    }

   }


   &__trending {

    p {
      margin-bottom: 1rem;
    }


    .trendingGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 1rem;
    

      .destinationItem {
        position: relative;
        cursor: pointer;
        


        .destinationImage {
          width: 25rem;
          @include element-border;
          filter: brightness(90%);
        }


        .destinationTarget {
          position: absolute;
          top: 1rem;
          left: 1rem;
          display: flex;
          gap: 1rem;
          height: 3rem;


          p {
            align-self: flex-end;
            @include font-sub-title('Poppins');
            font-size: 1.2rem;
            color: var(--white)
          }

          .destinationFlag {
            width: 3rem;
            height: 2.5rem;
            @include element-border;
          }
        
        }

      }
    }
   }



   &__ourPartners {

    p {
      margin-bottom: 1rem;
    }
    

    .partnerIcons {
      display: flex;
      justify-content: space-around;
      align-items: center;


      img {
        width: 5rem;
        @include element-border;
      }
    }
   }


}