@use '../../style/fonts' as *;







.home {

   
   &__hero {
        height: 27rem;
        padding: 2rem;
        background-image: url('../../assets/images/hero_2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        


        h3 {
            @include font-sub-title('Poppins');
            font-size: 3rem;
            color: var(--white);
        }
   }


   &__content {
     padding: 2rem;
     display: flex;
     gap: 1rem;
   }



}