.help-page-wrapper {
  padding-left: 6%;
  padding-right: 6%;
}

.help-title-text {
  color: var(--primary-color);
  font-family: 'Lora', serif;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 3%;
}

.help-category-div {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 2%;
  background-color: #f1f2f8;
  margin-bottom: 7%;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.help-category-div:hover {
  transform: scale(1.1);
}

.help-category-image {
  width: 40%;
  margin-bottom: 3%;
}

.help-category-text {
  font-family: 'Lora', serif;
  color: var(--primary-color);
}
