@use '../../style/fonts' as *;
@use '../../style/mixins' as *;
@use '../../style/breakpoints' as *;






.hotelInfo {
    @include base-padding();



    @include mini-mobile {
        @include base-padding(0, 2rem);
    }


    @include mobile {
        @include base-padding(0, 2rem);
    }


    &__reserveNow {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    
    &__reserveNowBtn {
        @include button-primary(10rem, 3rem);
    }

    &__reservationForm {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }


    &__nameAndLocation {
        margin-bottom: 2rem;
        

        h3 {
            @include font-title('Poppins');
            font-size: 1.8rem;
            color: var(--brand-primary);
            margin-bottom: 0.5rem;
        }

        .locationDisplay {
            display: flex;
            gap: 0.5rem;


            .nameAndLocationContainer {
                display: flex;
                gap: 0.5rem;
                margin-bottom: 1rem;


                @include mini-mobile {
                    flex-direction: column;
                    gap: 0.3rem;
                }


                @include mobile {
                    flex-direction: column;
                    gap: 0.3rem;
                }

                p {
                    @include font-regular('Poppins');
                }
            }
        }

    }


    &__picturesDisplayGrid {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
        gap: 0.5rem;


        @include mini-mobile {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }


        @include mobile {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }


        @include tablet {
            grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        }


        img {
            width: 100%;
            @include element-border-radius;
        }
    }


    &__headingList {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;


        @include mini-mobile {
            display: none;
        }


        @include mobile {
            display: none;
        }


        p {
            padding: 1rem;
            cursor: pointer;
            @include font-regular('Poppins');
            color: var(--brand-primary);


            @include tablet {
                @include font-small('Poppins');
                font-weight: 600;
            }
        }
    }


    &__infoSection {
        margin-bottom: 2rem;

        h3 {
            @include font-sub-title('Poppins');
            color: var(--brand-primary);
            margin-bottom: 0.5rem;
        }

        p {
            @include font-regular('Poppins');
            line-height: 1.5rem;
        }

        li {
            @include font-regular('Poppins');
            line-height: 1.5rem;
            margin-bottom: 1rem;
        }
    }


    .amenitiesGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
        gap: 1rem;


        .amenityItem {
            display: flex;
            justify-content: flex-start;
            gap: 0.5rem;
            @include element-border;
            @include element-border-radius;
            padding: 0.5rem;
            background-color: var(--background-secondary);


            p {
                @include font-regular('Poppins');
            }
        }
    }


    .houseRulesContainer {
        margin-top: 1rem;
        padding: 1rem;
        @include element-border;
        @include element-border-radius;


        li {
            display: flex;
            gap: 0.5rem;
            list-style: none;
            padding: 1rem;
            border-bottom: 1px solid var(--border-default);
            @include font-regular('Poppins');


            &:last-child {
                border: none;
            }
        }
    }


    .paymentOptionsDisplay {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;


        img {
            width: 4rem;
            height: 3rem;
            object-fit: contain;
        }
    }


    .reviewsInfo {
        margin-bottom: 1rem;
    }


    .topRatedText {
        margin-bottom: 1rem;
    }


    .reviewsDisplay {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        gap: 1rem;
        margin-bottom: 1rem;


        @include mini-mobile {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }


        @include mobile {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }


        @include tablet {
            grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        }
    
    }


    .readAllReviewsBtn {
        @include button-primary(10rem, 3rem);
        @include font-regular('Poppins');
    }


    .finePrintContainer {
        margin-top: 1rem;
        padding: 1rem;
        @include element-border;
        @include element-border-radius;


        p {
            @include font-small('Poppins');
            font-size: 0.9rem;
        }
    }

}