@use '../../style/fonts' as *;
@use '../../style/mixins' as *;
@use '../../style/breakpoints' as *;







.support {
    @include base-padding(4rem);


    h3 {
        @include font-title('Poppins');
        color: var(--brand-primary);
        margin-bottom: 1rem;
    }


    &__intro {
        margin-bottom: 2rem;


        p {
            @include font-sub-title('Poppins');
            // color: var(--brand-primary);
        }
    }


    &__searchSupport {
        // background-color: red;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 4rem;


        .inputWrapper {
            position: relative;
            width: 70%;


            input {
                @include text-input-default(100%, 3rem);
                @include font-regular('Poppins');
                padding-left: 3rem;


                &::placeholder {
                    padding-left: 2rem;
                    @include font-small('Poppins')
                }
            }


            .icon {
                position: absolute;
                inset: 0.8rem;
            }

        }


        button {
            width: 30%;
            @include button-primary(30%, 3rem);
        }
    }


    &__supportArticles {


        .supportsGrid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
            grid-auto-rows: 4rem;
            gap: 1rem;



            @include mini-mobile {
                grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
            }


            @include mobile {
                grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
            }


            @include tablet {
                grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
            }


            .supportItem {
                padding: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                background-color: var(--card-bg);
                @include element-border;
                @include element-border-radius;
                @include element-border-transition;



                .supportNameAndIcon {
                    display: flex;
                    gap: 0.5rem;


                    .icon {
                        align-self: center;
                    }


                    p {
                        align-self: center;
                        @include font-sub-title('Poppins')
                    }



                }




            }
        }


    }



}