.contact-us-wrapper {
  margin-top: 10%;
  padding-left: 6%;
  padding-right: 6%;
}

.contact-us-header {
  margin-top: 3%;
  margin-bottom: 7%;
}

.contact-us-details-section {
  width: 60%;
}

.attach-files-div {
  border-style: dotted;
  border-color: #6495ed;
  border-radius: 2%;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
  cursor: pointer;
}

.contact-us-btn {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  height: 55px;
}

.contact-us-btn:hover {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  height: 55px;
}

.contact-us-header-text {
  font-family: 'Lora', serif;
  color: var(--primary-color);
}

.contact-us-textbox {
  height: 50px;
  cursor: pointer;
}

.submit-complaint-error-text {
  font-style: italic;
  color: red;
}
