@use '../../style/fonts' as *;
@use '../../style/mixins' as *;
@use '../../style/breakpoints' as *;




.navbar {
    background-color: var(--card-bg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 2rem;


    &__brand {
        color: var(--text-heading);

        h3 {
            @include font-title('Poppins');
            font-size: 1.8rem;
            cursor: pointer;
        }
    }


    &__menu {

        @include mini-mobile {
            display: none;
        }


        @include mobile {
            display: none;
        }
        

        ul {
            display: flex;
            width: 30rem;
            justify-content: space-between;
        }


        li {
            align-self: center;
            list-style: none;
            cursor: pointer;
            color: var(--text-link);
            @include font-regular('Poppins')
        }


        button {
            @include button-primary(5rem, 2.4rem);
            
        }
    }

}





// responsive styles
