// brand colors
$brand-primary: #0a103d;
$brand-secondary: #1865ff;
$brand-accent: #d65a00;


// text colors
$text-heading: #0a103d;
$text-primary: #0d0c22;
$text-secondary: #d8d8d8;
$text-light: #d8d8d8;


// border colors
$border-default: #cfd0d6;


// background colors
$background-primary: #f8f8f8;
$background-secondary: #f9f6ee;

$white: #fff;
