$blue-col-primary: #1865ff;
$purple-col-primary: #8349e5;
$orange-col-primary: #d65a00;
$text-purple-primary: #0a103d;
$text-black-primary: #0d0c22;
$text-grey-secondary: #d8d8d8;
$border-grey-active: #cfd0d6;
$border-grey-inactive: #f9f9f9;
$border-grey-focused: #505474;
