$primary-blue: #1865ff;
$primary-purple: #8349e5;
$primary-orange: #d65a00;
$text-midnight-blue: #0a103d;
$text-dark-navy: #0d0c22;
$text-light-gray: #d8d8d8;
$cool-gray: #cfd0d6;
$off-white: #f8f8f8;
$slate-indigo: #505474;
$white: #fff;
$beige: #f9f6ee;