// pass the desired font family name to get your font choice
@mixin font-header($font-family) {
    font-family: $font-family;
    font-weight: 800;
}

@mixin font-sub-header($font-family) {
    font-family: $font-family;
    font-weight: 600;
}

@mixin font-regular($font-family) {
    font-family: $font-family;
    font-weight: 400;
}

@mixin font-small($font-family) {
    font-family: $font-family;
    font-weight: 200;
}




