@use './fonts' as *;




@mixin element-border-radius {
    border-radius: 0.625rem;
}


@mixin element-border {
    border: 1px solid var(--border-default);
}


@mixin button-base {
    @include element-border-radius;
    cursor: pointer;
}


@mixin button-primary ($width: auto, $height: auto) {
    @include button-base;
    background-color: var(--brand-primary);
    color: var(--white);
    width: $width;
    height: $height;
    border: none;
    @include font-regular('Poppins');
    transition: all 0.3s ease;


    &:hover {
        opacity: 0.8;
    }
}


@mixin button-secondary ($width: auto, $height: auto) {
    @include button-base;
    background-color: var(--brand-secondary);
    color: var(--text-primary);
    width: $width;
    height: $height;
    border: none;
    @include font-regular('Poppins');
    transition: all 0.3s ease;



    &:hover {
        opacity: 0.8;
    }
}


@mixin text-input-default($width: 100%, $height: 2.8rem) {
    width: $width;
    height: $height;
    padding: 0 1rem;
    @include element-border;
    @include element-border-radius;
    @include input-focused;
}


@mixin input-focused {
    transition: all 0.3s ease;

    &:focus {
        outline: none;
        border: 2px solid var(--text-input-focused);
    }
}


@mixin base-padding($vertical: 0, $horizontal: 5rem) {
    padding: $vertical $horizontal;
}


@mixin box-shadow {
    box-shadow: 0 4px 12px rgba(38, 42, 184, 0.04);
}


@mixin checkBox-default($width: 1.2rem, $height: 1.2rem) {
    width: $width;
    height: $height;
    cursor: pointer;
}