/* book hotel page styling */
.book-hotel-wrapper-section {
  padding-left: 6%;
  padding-right: 6%;
}

.booking-hotel-summary-div {
  border-radius: 2%;
  border: 1px solid lightgray;
  padding: 3%;
}

.booking-checkin-date-format {
  color: grey;
  font-size: 0.8rem;
}

.booking-hotel-name {
  font-family: var(--primary-font);
}

.book-hotel-grid-img {
  width: 100%;
  aspect-ratio: 3/2;
}

.details-section {
  border-radius: 2%;
  border: 1px solid lightgray;
  padding: 3%;
}

.details-section-sub-div {
  margin-bottom: 9%;
}

.form-control-no-text {
  margin-bottom: 3%;
}

.section-sub-header {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: var(--primary-font);
}

.pricing {
  font-weight: bold;
}

.total-cost {
  color: var(--primary-color);
}

.booking-hotel-extra-details {
  font-family: var(--primary-font);
  font-size: 0.95rem;
  /* font-weight: bold; */
  padding-bottom: 3%;
}

.accepted-cards-div {
  display: flex;
  flex-direction: row;
}

.accepted-card-style {
  margin-right: 2%;
}

.book-button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  height: 55px;
}

.book-button:hover {
  background-color: var(--primary-color);
  color: white;
}

.book-room-features {
  background-color: var(--light-blue-color);
  padding: 7%;
  text-align: center;
  border-radius: 5%;
  /* display: inline-block; */
}

.booking-hotel-name-primary {
  font-family: 'Lora', serif;
  color: var(--primary-color);
  font-weight: bold;
}

.booking-hotel-name-row {
  margin-top: 5%;
}

.booking-hotel-features {
  font-family: var(--primary-font);
  font-weight: bold;
}

.booking-fields-error-message {
  color: red;
}

.card-expiry-month-text {
  color: grey;
}

.card-expiry-year-text {
  color: grey;
}

.book-hotel-confirmation-section {
  padding-left: 6%;
  padding-right: 6%;
}

.confirm-booking-header {
  font-family: var(--primary-font);
  font-weight: bold;
  color: var(--primary-color);
}

.confirm-booking-details-btn {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.confirm-booking-details-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.edit-booking-details-btn {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  padding: 1.5%;
}

.edit-booking-details-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.booking-hotel-detail-header {
  font-family: var(--primary-font);
  font-size: 1.1rem;
  font-weight: bold;
}

.booking-confirmation-div {
  padding: 4% 4%;
  background-color: #f5f5f5; /*#F8F8F8; /*#F0F0F0;  #EDEADE; F9F6EE;  #FAF9F6; #E5E4E2;*/
  /* border: 1px solid grey; */
}

.paystack-btn {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  padding: 1.5%;
}

/* end of book hotel page styling */
