@use '../../style/mixins' as *;
@use '../../style/fonts' as *;
@use '../../style/breakpoints' as *;






.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


    @include mini-mobile {
        padding: 1rem;
    }


    @include mobile {
        padding: 1rem;
    }


    @include tablet {
        padding: 2rem;
    }
}


.authLayout {
    width: 65rem;
    height: 40rem;
    // padding: 1rem;
    @include element-border;
    @include element-border-radius;
    @include box-shadow;
    display: flex;
    justify-content: space-between;
    background-color: var(--card-bg);



    &__coverImageDisplay {
        background-image: url('../../assets/images/hero_1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;


        @include mini-mobile {
            display: none;
        }


        @include mobile {
            display: none;
        }


        @include tablet {
            width: 40%;
        }


        h3 {
            @include font-title('Poppins');
            margin-bottom: 1rem;
        }


        p {
            @include font-regular('Poppins');
        }

    }



    &__authRoute {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;


        @include mini-mobile {
            width: 100%;
        }


        @include mobile {
            width: 100% !important;
        }


        @include tablet {
            width: 60%;
        }
    }
}

