@use '../../style/fonts' as *;
@use '../../style/colours' as *;
@use '../../style/breakpoints' as *;
@use '../../style/mixins' as *;







.userAvatar {
    background-color: var(--brand-primary);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--brand-primary);
    cursor: pointer;



    p {
        @include font-sub-title('Poppins');
        font-size: 1.5rem;
        color: var(--white);
    }


}