@use '../../style/fonts' as *;
@use '../../style/mixins' as *;
@use '../../style/breakpoints' as *;




.responsiveMenu {
    display: none;
    background-color: var(--body-bg);
    position: fixed;
    inset: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 2rem 0;



    @include mini-mobile {
        display: block;
    }


    @include mobile {
        display: block;            
    }


    .currentRouteAndCloseBtn {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        margin-bottom: 1rem;


        .appLogoAndBackIcon {
            display: flex;
            gap: 0.5rem;
            @include font-sub-title('Poppins');
            color: var(--brand-primary);
            font-style: italic;


            h3 {
                @include font-sub-title('Poppins');
                font-weight: 700;
                color: var(--brand-primary);
                align-self: flex-start;
            }

            .backIcon {
                align-self: center;
                color: var(--brand-primary);
            }
        }


        .currentRouteDisplay {

            h3 {
                @include font-sub-title('Poppins');
                color: var(--brand-primary);
                align-self: flex-start;
            }
        }




        .closeIcon {
            align-self: flex-start;
            color: var(--brand-primary);
        }
    }


    .underLine {
        border-bottom: 2px solid var(--border-default);
        margin-bottom: 2rem;
    }


    .navLinks {
        padding: 0 1rem;


        ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }


        li {
            display: flex;
            gap: 1rem;
            list-style: none;
            cursor: pointer;
            color: var(--text-link);
            @include font-regular('Poppins');
            margin: 0.5rem 0;

        }


        button {
            @include button-primary(7rem, 2.4rem);
        }
    }

}
