.navbar-brand {
  font-style: italic;
  font-size: 1.7rem;
  color: var(--primary-color);
  font-weight: bold;
}


.navbar-brand:hover {
  color: #3124ec;
}


.nav-link-text {
  font-family: 'Lora', serif;
}


.navbar-login-btn {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin-left: 2%;
}


.navbar-login-btn:hover {
  background-color: var(--primary-color);
  color: white;
}


.navbar-signup-btn {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}


.navbar-signup-btn:hover {
  background-color: var(--primary-color);
  color: white;
}


.navbar-brand {
  cursor: pointer;
}


.user-name-display {
  margin-left: -2%;
}
