.footer-container {
  padding-left: 7%;
  padding-right: 5%;
  padding-top: 4%;
  width: 100%;
  background-image: linear-gradient(to right, white, #6495ed);
}

.footer-header {
  font-size: 1.5rem;
  font-family: 'Lora', serif;
  padding-bottom: 2%;
  color: var(--primary-color);
  font-style: italic;
}

.footer-link-item {
  font-family: 'Lora', serif;
  cursor: pointer;
}

.footer-link-item:hover {
  color: var(--primary-color);
}

.footer-link-icon {
  padding-left: 30%;
  cursor: pointer;
}

.footer-link-icon:hover {
  color: var(--primary-color);
}

.newsletter-textbox {
  height: 40px;
}

.newsletter-button {
  background-color: var(--primary-color);
  color: white;
}

.newsletter-button:hover {
  background-color: var(--primary-color);
  color: white;
}

.subscribe-updates-text {
  font-family: 'Lora', serif;
}

.newsletter-subscribe-error {
  color: red;
  font-style: italic;
}

.rights-reserved-text {
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 1rem;
}

.copyrights-section {
  text-align: center;
}
