.footer {
  padding: 4% 5% 0 7%;
  width: 100%;
  background-image: linear-gradient(to right, white, #6495ed);

  &__heading {
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    padding-bottom: 2%;
    color: var(--primary-color);
    font-style: italic;
  }

  &__link {
    font-family: 'Lora', serif;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__social {
    padding-left: 30%;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__newsletter-input {
    height: 40px;
  }

  &__newsletter-button {
    background-color: var(--primary-color);
    color: white;

    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }

  &__newsletter-text {
    font-family: 'Lora', serif;
  }

  &__newsletter-error {
    color: red;
    font-style: italic;
  }

  &__divider {
    margin: 2rem 0;
  }

  &__copyright {
    text-align: center;
  }

  &__copyright-text {
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 1rem;
  }
}

/* Responsive styling */
@media (max-width: 480px) {
  .footer {
    padding: 10% 5%;

    &__heading {
      margin-top: 1.5rem;
    }

    &__social {
      padding-left: 0;
      display: inline-block;
      margin-right: 1rem;
    }

    &__newsletter-button {
      font-size: 0.9rem;
    }
  }
}