@use '../../style/mixins' as *;
@use '../../style/fonts' as *;











.reservation {



    &__form {
        background-color: var(--card-bg);
        width:64rem;
        height: 6rem;
        padding: 1rem;
        @include element-border-radius;
        @include box-shadow;
        display: flex;
        justify-content: space-between;
        align-items: center;


        input {
            @include text-input-default(18rem, 3rem);
            @include font-small('Poppins');
            padding: 1rem 1rem 1rem 3rem;   // overwrite default padding from text-input-default mixin

            
            &::placeholder {
                @include font-small('Poppins');
            }
        }


        button {
            @include button-primary(6rem, 3rem);
            @include font-small('Poppins');
        }
    }


    &__wrapper {
        position: relative;

        
         .reservation__options{
            @include element-border;
            @include button-base;
            width: 18rem;
            height: 3rem;
            background-color: var(--white);
            color: var(--text-primary);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 3rem;
            @include input-focused;
        }
    }


    &__icon {
        position: absolute;
        top: 12px;
        left: 10px;
    }

}