/* google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* card title */
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

/* global variables */
:root {
  --primary-color: #5a50eb; /* #6b75ff #5a50eb*/
  --light-blue-color: #ccccff;
  --primary-font: 'Lora', serif;
  --text-control-border: #0a58ca;
}

* {
  box-sizing: border-box;
}

/* global reusable classes */

/* text control focus style */
.text-control-focus-style:focus {
  box-shadow: none;
  border: 2px solid var(--text-control-border);
}

/* loading animation style */
.loading-hotels-div-style {
  text-align: center;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}




/* start date picker styling */
.start-date-picker-styling {
  width: 100%;
}

/* end date picker styling */
.end-date-picker-styling {
  width: 100%;
}

/* end of date pickers styling */




/* help page styling */
.help-page-wrapper {
  padding-left: 6%;
  padding-right: 6%;
}

.help-title-text {
  color: var(--primary-color);
  font-family: 'Lora', serif;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 3%;
}

.help-category-div {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 2%;
  background-color: #f1f2f8;
  margin-bottom: 7%;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.help-category-div:hover {
  transform: scale(1.1);
}

.help-category-image {
  width: 40%;
  margin-bottom: 3%;
}

.help-category-text {
  font-family: 'Lora', serif;
  color: var(--primary-color);
}

/* end of help page styling */

/* contact us styling */
.contact-us-wrapper {
  margin-top: 10%;
  padding-left: 6%;
  padding-right: 6%;
}

.contact-us-header {
  margin-top: 3%;
  margin-bottom: 7%;
}

.contact-us-details-section {
  width: 60%;
}

.attach-files-div {
  border-style: dotted;
  border-color: #6495ed;
  border-radius: 2%;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
  cursor: pointer;
}

.contact-us-btn {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  height: 55px;
}

.contact-us-btn:hover {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  height: 55px;
}

.contact-us-header-text {
  font-family: 'Lora', serif;
  color: var(--primary-color);
}

.contact-us-textbox {
  height: 50px;
  cursor: pointer;
}

.submit-complaint-error-text {
  font-style: italic;
  color: red;
}

/* end of contact us styling */

/* about us styling */
.about-us-main-background {
  width: 100%;
  height: 90vh;
}

.img-text {
  position: absolute;
  bottom: -2%;
  padding-left: 15%;
  color: black;
  /* color: var(--primary-color); */
  font-family: 'Lora', serif;
  font-size: 2.3rem;
  font-style: normal;
}

.about-us-header-section {
  margin-top: 4%;
}

.main-header-text {
  text-align: center;
  font-family: 'Lora', serif;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.8rem;
}

.about-us-sub-headers {
  font-family: 'Lora', serif;
  color: var(--primary-color);
  font-size: 1.3rem;
}

.about-us-row-generic-style {
  margin-top: 4%;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 4%;
}

.about-us-mission-row {
  background-image: linear-gradient(to top, white, blue);
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  color: white;
}

.about-us-mission-text {
  font-size: 4rem;
  font-weight: bold;
}

.about-us-team-section {
  margin-top: 4%;
  margin-left: 6%;
  margin-right: 6%;
}

.our-team-header {
  font-weight: bold;
  font-family: 'Lora', serif;
  text-align: center;
  margin-top: 8%;
  color: var(--primary-color);
}

.column-icon-style {
  width: 30%;
}

.team-pic-style {
  width: 80%;
  border-radius: 30%;
}

.our-team-row {
  margin-bottom: 9%;
}

.team-member-name {
  font-family: 'Lora', serif;
  color: var(--primary-color);
  /* margin-left: 20%; */
  /* margin-top: 2%; */
}

.team-member-position {
  font-family: 'Lora', serif;
  font-size: 1.1rem;
  font-weight: bold;
}

/* end of about us styling */

/* faq page styling */
.faq-header-section-generic-style {
  margin-top: 10%;
  margin-right: 6%;
  margin-left: 6%;
  margin-bottom: 6%;
}

.faq-header-text {
  font-family: 'Lora', serif;
  color: var(--primary-color);
}

.answer-div-show {
  display: block;
}

.answer-div-hide {
  display: none;
}

.faq-question-answer-section {
  margin-top: 6%;
  margin-right: 6%;
  margin-left: 6%;
  margin-bottom: 6%;
}

.faq-question-text {
  font-family: 'Lora', serif;
  color: var(--primary-color);
}

.q_and_a_div {
  cursor: pointer;
}

.faq-row-selected {
  /* background-color: var(--light-blue-color); */
  cursor: pointer;
}

.faq-row-unselected {
  cursor: pointer;
}

/* end of faq page styling */

/* sign up page styling */
.sign-up-wrapper {
  text-align: center;
}

.signup-control-focus-style:focus {
  box-shadow: none;
  border: 2px solid var(--text-control-border);
}

.create-account-section {
  margin-top: 5%;
  margin-bottom: 3%;
}

.sign-up-header-text {
  font-family: 'Lora', serif;
}

.sign-up-form {
  margin-left: 20%;
  margin-right: 20%;
}

.input-group-margin {
  margin-bottom: 8%;
}

.input-group-style {
  height: 45px;
}

.input-group-error {
  border: 1px solid red;
  height: 45px;
}

.input-group-text {
  cursor: pointer;
}

.sign-up-brand-logo {
  cursor: pointer;
}

.sign-up-btn {
  width: 100%;
  height: 45px;
  background-color: var(--primary-color);
  color: white;
  /* margin-top: 6.5%; */
}

.sign-up-btn:hover {
  width: 100%;
  height: 45px;
  background-color: var(--primary-color);
  color: white;
  /* margin-top: 6.5%; */
}

.other-error-text {
  color: red;
  font-family: 'Lora', serif;
}

.sign-up-tnc-text {
  font-size: 0.8rem;
}

.sign-up-already-account-text {
  font-size: 0.8rem;
}

.sign-up-continue-with-text {
  font-size: 0.8rem;
}

.tnc-span {
  color: blue;
  cursor: pointer;
}

.sign-in-span {
  color: blue;
  cursor: pointer;
}

.alt-sign-up-icon {
  cursor: pointer;
}

.alt-sign-up-icon:hover {
  color: var(--primary-color);
}

/* end of sign up styling */

/* login page styling */
.log-in-wrapper {
  text-align: center;
}

.login-account-section {
  margin-top: 5%;
  margin-bottom: 3%;
}

.log-in-header-text {
  font-family: 'Lora', serif;
}

.login-other-error-text {
  color: red;
  font-family: 'Lora', serif;
}

.login-form {
  margin-left: 20%;
  margin-right: 20%;
}

.login-input-group-margin {
  margin-bottom: 8%;
}

.login-input-group-style {
  height: 45px;
}

.login-input-group-error {
  border: 1px solid red;
  height: 45px;
}

.input-group-text {
  cursor: pointer;
}

.login-email-control:focus {
  box-shadow: none;
  border: 2px solid var(--text-control-border);
}

.login-password-control:focus {
  box-shadow: none;
  border: 2px solid var(--text-control-border);
}

.log-in-brand-logo {
  cursor: pointer;
  font-style: italic;
  font-size: 1.7rem;
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 5%;
}

.login-btn {
  width: 100%;
  height: 45px;
  background-color: var(--primary-color);
  color: white;
  /* margin-top: 6.5%; */
}

.login-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.login-tnc-text {
  font-size: 0.8rem;
}

.login-tnc-span {
  color: blue;
  cursor: pointer;
}

.forgot-password-text {
  font-size: 0.8rem;
  color: blue;
  cursor: pointer;
}

.sign-up-span {
  color: blue;
  cursor: pointer;
}

.create-account-text {
  font-size: 0.8rem;
}

.continue-with-text {
  font-size: 0.8rem;
}

.alt-sign-in-icon {
  cursor: pointer;
}

.alt-sign-in-icon:hover {
  color: var(--primary-color);
}

.footer-gap {
  margin-bottom: 15%;
}

/* scroll to top btn styling */
/* .top-to-bottom {
    position: relative;
} */

.scroll-to-top-btn {
  background-color:/* #5a50eb**/ white;
  color: #5a50eb;
  position: fixed;
  bottom: 5%;
  right: 8%;
  z-index: 10;
  border: 2px solid #5a50eb;
  animation: btnMoveUp 2s ease 0s infinite;
}

.scroll-to-top-btn:hover {
  background-color: #5a50eb;
  color: white;
}

@keyframes btnMoveUp {
  0% {
    transform: translateY(10%);
  }

  20% {
    transform: translateY(20%);
  }

  40% {
    transform: translateY(30%);
  }

  60% {
    transform: translateY(40%);
  }

  /* 80% { transform: translateY(50%);}

    100% { transform: translateY(60%);} */
}

/* reviews page styling */
.reviewed-hotel-info-section {
  padding-left: 6%;
  padding-right: 6%;
  margin-top: 3%;
  padding-bottom: 1%;
}

.reviewed-hotel-name {
  font-family: 'Lora', serif;
  color: var(--primary-color);
}

.post-review-section {
  margin-left: 6%;
  margin-right: 50%;
}

.review-email-control {
  height: 55px;
}

.review-email-control-error {
  border: 1px solid red;
  height: 55px;
}

.post-review-header {
  font-family: 'Lora', serif;
  color: var(--primary-color);
}

.post-review-btn {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
}

.post-review-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.post-review-btn-submit {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
}

.post-review-btn-submit:hover {
  background-color: var(--primary-color);
  color: white;
}

.review-body-text-area-error {
  border: 1px solid red;
}

.review-feedback-text {
  font-family: 'Lora', serif;
}

.all-reviews-images-styling {
  width: 100%;
  aspect-ratio: 3/2;
  margin-bottom: 2%;
}

/* end of reviews page styling */

/* responsive styling */
@media screen and (min-width: 220px) and (max-width: 480px) {
  /* home page responsive styling */
  .place-to-stay {
    margin-top: 30px;
  }

  .save-big-text {
    margin-top: 2%;
    font-size: 1.3rem;
  }

  .save-big-text-line2 {
    padding-left: 4%;
  }

  .get-away-text {
    font-size: 1.3rem;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .intro-form-catch-phrase {
    font-size: 1rem;
  }

  .intro-background-img {
    width: 100%;
    /* height: 450px; */
    margin-bottom: 5%;
  }

  .get-away-details-text {
    font-size: 0.87rem;
    padding-left: 1%;
    padding-right: 1%;
  }

  .welcome-phrase {
    position: relative;
    bottom: 30rem;
    z-index: 10;
    color: white;
    opacity: 1;
    padding: 0% 10% 0% 10%;
    text-align: center;
    font-family: 'Courgette', cursive;
  }

  .intro-form {
    position: relative;
    bottom: 360px;
    /* right: 13px; */
    left: -21px;
    width: 85%;
    height: 75%;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    box-shadow: 0px 1px 3px grey;
  }

  .world-of-hotels-section {
    position: relative;
    bottom: 260px;
  }

  .plan-staycation-section {
    margin-top: -60%;
  }

  .plan-staycation-text {
    font-size: 1.3rem;
  }

  .get-best-prices-text {
    font-size: 1.3rem;
  }

  .fetching-hotels-text {
    font-size: 1rem;
    color: #808080;
  }

  .view-all-hotels-text-div {
    cursor: pointer;
    margin-bottom: 6%;
  }

  .view-all-hotels-btn {
    height: 40px;
  }

  .footer-header {
    margin-top: 8%;
  }

  /* end of home page responsive styling */

  /* contact us responsive styling */
  .contact-us-details-section {
    width: 100%;
  }

  /* end of contact us responsive styling */

  /* about us responsive styling */
  .about-us-main-background {
    width: 100%;
    height: 50vh;
  }

  .img-text {
    position: relative;
    padding-left: 8%;
    color: black;
    /* color: var(--primary-color); */
    font-family: 'Lora', serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: bold;
  }

  .about-us-header-section {
    margin-top: 20%;
    margin-bottom: 10%;
    margin-right: 3.1rem;
  }

  .main-header-text {
    padding-left: 5%;
    font-family: 'Lora', serif;
    color: var(--primary-color);
    font-weight: bold;
  }

  .about-us-mission-row {
    background-image: linear-gradient(to bottom, blue, white);
    padding: 5%;
    text-align: center;
    color: white;
  }

  .about-us-mission-text {
    font-size: 2.3rem;
    font-weight: bold;
  }

  .team-pic-style {
    width: 100%;
  }

  /* end of about us responsive styling */

  /* book hotel responsive styling */
  .section-sub-header {
    font-size: 1rem;
  }

  .booking-hotel-summary-div {
    border: 1px solid lightgray;
    /* border-radius: 1%; */
    padding: 3%;
  }

  .details-section {
    border: 1px solid lightgray;
    border-radius: 2%;
    padding: 3%;
  }

  .booking-hotel-extra-details {
    font-size: 0.84rem;
    /* font-weight: bold; */
    padding-bottom: 5%;
  }

  .booking-hotel-price {
    font-weight: bold;
  }

  .form-control-no-text {
    margin-bottom: 8%;
  }

  .details-section-sub-div {
    margin-bottom: 12%;
  }

  .confirm-booking-details-btn {
    margin-bottom: 12%;
  }

  .paystack-btn {
    margin-bottom: 9%;
  }

  .book-room-features {
    background-color: var(--light-blue-color);
    padding: 7% 14%;
    text-align: center;
    border-radius: 5%;
    /* display: inline-block; */
  }

  /* end of book hotel responsive styling */

  /* sign up page responsive styling */
  .sign-up-form {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
  }

  .other-error-text {
    font-size: 0.78rem;
    padding-left: 2%;
    padding-right: 2%;
  }

  /* end of sign up page responsive styling */

  /* login page responsive styling */
  .login-form {
    margin-left: 8%;
    margin-right: 8%;
  }

  .login-other-error-text {
    color: red;
    font-family: 'Lora', serif;
    font-size: 0.78rem;
    padding-left: 2%;
    padding-right: 2%;
  }

  /* get room details responsive styling */
  .selected-room-checkin-dates {
    margin-bottom: 7%;
  }

  .start-date-end-date-null-message {
    margin-left: 1rem;
    color: red;
  }

  .selected-room-details-destination-form {
    padding: 3%;
  }

  .selected-room-details-destination-column {
    margin-bottom: 5%;
  }

  .selected-room-extra-pics-grid {
    margin-bottom: 5%;
  }

  .book-now-button-first {
    width: 87%;
    margin-bottom: 10%;
  }

  .book-now-button-last {
    width: 85%;
    margin-bottom: 10%;
  }

  .book-now-btn-row {
    margin-top: 8%;
  }

  .hotel-details-review-section {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 10%;
  }

  /* end of get room details responsive styling */

  /* get all rooms responsive styling */
  .fetch-all-hotels-row {
    margin-bottom: 12%;
  }

  .go-to-site-button {
    width: 100%;
  }

  .fetch-all-hotels-search-tab-section {
    margin-bottom: 13%;
    margin-top: 12%;
    padding: 0 5.5%;
  }

  .search-hotel-textbox {
    height: 43px;
  }

  /* end of fetch all rooms responsive styling */

  /* review section responsive styling */
  .post-review-section {
    margin-left: 6%;
    margin-right: 6%;
  }

  .selected-room-details-sub-header {
    margin-bottom: 10%;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .post-review-btn {
    /* width: 100%; */
    margin-left: 7%;
  }

  .reviews-header-row {
    margin-bottom: 20%;
  }

  /* end of review section responsive styling */

  /* faq page responsive styling */
  .faq-question-answer-section {
    margin-top: 13%;
  }

  /* end of faq page responsive styling */

  /* google maps styling */
  .map-parent {
    width: 90vw;
    height: 88vh;
  }

  .map-container {
    width: 100%;
    height: 100%;
  }
}
