/* google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* card title */
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

/* global variables */
:root {
  --primary-color: #5a50eb; /* #6b75ff #5a50eb*/
  --light-blue-color: #ccccff;
  --primary-font: 'Lora', serif;
  --text-control-border: #0a58ca;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
}



/* global reusable classes */
.text-control-focus-style:focus {
  box-shadow: none;
  border: 2px solid var(--text-control-border);
}


