@use './style/resets' as *;
@use './style/colours' as *;




// define global scss variables
:root {
    // app brand
    --brand-primary: #{$brand-primary};
    --brand-secondary: #{$brand-secondary};
    --brand-accent: #{$brand-accent};

    // containers
    --body-bg: #{$body-bg};
    --footer-bg: #{$footer-bg};

    // typography
    --text-heading: #{$text-heading};
    --text-link: #{$text-link};
    --text-secondary: #{$text-secondary};
    --text-primary: #{$text-primary};
    --text-light: #{$text-light};

    // elements
    --border-default: #{$border-default};
    --text-input-focused: #{$text-input-focused};
    --card-bg: #{$card-bg};
    --white: #{$white};
    --alert-red-primary: #{$alert-red-primary};
    --alert-red-secondary: #{$alert-red-secondary};
    --alert-blue-primary: #{$alert-blue-primary};
    --alert-blue-secondary: #{$alert-blue-secondary};
    --alert-green-primary: #{$alert-green-primary};
    --alert-green-secondary: #{$alert-green-secondary};
}


body {
    background-color: var(--body-bg);
}


// create font types
// poppins font family
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins/Poppins-Thin.ttf') format('truetype');
    font-display: swap;
    font-weight: 200;
}




// lore font family
@font-face {
    font-family: 'Lora';
    src: url('./assets/fonts/lora/Lora-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 800;
}

@font-face {
    font-family: 'Lora';
    src: url('./assets/fonts/lora/Lora-Medium.ttf') format('truetype');
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Lora';
    src: url('./assets/fonts/lora/Lora-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
}




// montserrat font family
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-display: swap;
    font-weight: 200;
}



