.book-now-section {
  text-align: center;
  margin-bottom: 5%;
}

.selected-room-detail-grid-pic {
  width: 100%;
  aspect-ratio: 3/2;
}

.start-date-end-date-null-message {
  color: red;
  margin-left: 5rem;
}

.book-now-button-first {
  width: 30%;
  background-color: var(--primary-color);
  color: white;
  height: 55px;
}

.book-now-button-first:hover {
  background-color: var(--primary-color);
  color: white;
}

.book-now-btn-row {
  text-align: center;
}

.book-now-button-last {
  /* width: 80%;
    background-color: var(--primary-color); 
    color: white;
    height: 55px; */
  width: 30%;
  background-color: var(--primary-color);
  color: white;
  height: 55px;
  margin-right: 5%;
}

.book-now-button-last:hover {
  background-color: var(--primary-color);
  color: white;
}

.selected-room-checkin-dates {
  margin-left: 6%;
  padding-right: 2%;
  padding-bottom: 2%;
  border-radius: 1.2%;
  box-shadow: 2px 2px 8px grey;
  /* border: 2px solid var(--primary-color); */
  padding-top: 2%;
  padding-left: 2%;
  margin-right: 6%;
  text-align: center;
  margin-bottom: 1%;
}

.selected-room-details-destination {
  height: 55px;
}

.selected-room-details-category {
  height: 55px;
}

.selected-room-details-extra-guest-details-form {
  border: 1px solid lightgrey;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 12%;
  border-radius: 4%;
}

.selected-room-details-extra-guest-details-done-btn {
  border: 1px solid var(--primary-color);
  width: 90%;
  margin-left: 10%;
}

.selected-room-details-extra-guest-details-done-btn:hover {
  border: 1px solid var(--primary-color);
}

.selected-room-details-extra-guest-info-icon {
  cursor: pointer;
}

.specify-cursor {
  cursor: pointer;
}

.selected-room-details-extra-guest-info-row {
  border: 1px solid lightgrey;
  border-radius: 4%;
  padding: 6%;
}

.selected-room-details-search-hotel-button {
  height: 55px;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
}

.selected-room-details-search-hotel-button:hover {
  height: 55px;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
}

.selected-room-extra-pics-grid {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.selected-room-details-section {
  padding-left: 6%;
  padding-right: 6%;
  margin-top: 3%;
  padding-bottom: 3%;
}

.selected-room-name {
  font-family: 'Lora', serif;
  color: var(--primary-color);
  font-weight: bolder;
}

.hotel-details-heading {
  font-family: 'Lora', serif;
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
}

.selected-room-details-headers {
  padding: 0 6%;
}

.hotel-gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  /* grid-template-rows: repeat(3, 10rem); */
  grid-auto-rows: 10rem;
  gap: 0.7rem;
  margin-bottom: 2rem;
}


.gallery-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.625rem;
}



.hotel-feature-header {
  font-weight: bold;
}

.selected-room-details-sub-section {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3%;
  padding-bottom: 4%;
}

.selected-room-details-sub-header {
  font-family: 'Lora', serif;
  color: var(--primary-color);
}

.amenity-wrapper {
  /* background-color: #6495ed; */
  margin-bottom: 1rem;
  width: 10rem;
  padding: 0.5rem;
  border-radius: 0.625rem;
  border: 1px solid grey;
  text-align: center;
}

.srd-padding-bottom {
  padding-bottom: 3%;
}

.selected-room-features-amenities-div {
  background-color: var(--light-blue-color);
  display: inline-block;
  padding: 10%;
  border-radius: 5%;
  margin-bottom: 10%;
}

.book-now-btn-row {
  margin-top: 3%;
}

.selected-hotel-details-loading-section {
  margin-top: 10%;
  text-align: center;
}

.posted-reviews-wrapper-div {
  margin-top: 3%;
}

.reviewer-info {
  display: flex;
  flex-direction: row;
}

.reviewer-info-img {
  border-radius: 50%;
}

.reviewer-info-name-date {
  margin-left: 3%;
}

.reviewer-name {
  font-family: 'Lora', serif;
  font-weight: bold;
  color: var(--primary-color);
}

.review-date {
  font-family: 'Lora', serif;
  color: #808080;
}

.review-body-text {
  font-family: 'Lora', serif;
}

.see-all-reviews-btn {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}

.see-all-reviews-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.hotel-details-review-section {
  margin-left: 6%;
  margin-right: 50%;
}

.review-email-control {
  height: 55px;
}

.review-email-control-error {
  border: 1px solid red;
  height: 55px;
}

.hotel-details-post-review-header {
  font-family: 'Lora', serif;
  color: var(--primary-color);
}

.hotel-details-post-review-btn {
  background-color: var(--primary-color);
  color: white;
}

.hotel-details-post-review-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.post-review-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.review-body-text-area-error {
  border: 1px solid red;
}

.review-feedback-text {
  font-family: 'Lora', serif;
}

/* google maps styling */
.map-parent {
  width: 80vw;
  height: 88vh;
  border: 0.4px solid grey;
  border-radius: 1%;
  padding: 1%;
}

.map-container {
  width: 100%;
  height: 100%;
}
