.hotel-details {
  &__book-now {
    text-align: center;
    margin-bottom: 5%;
  }

  &__image {
    width: 100%;
    aspect-ratio: 3 / 2;
  }

  &__date-error {
    color: red;
    margin-left: 5rem;
  }

  &__book-button {
    width: 30%;
    height: 55px;
    background-color: var(--primary-color);
    color: white;

    &:hover {
      background-color: var(--primary-color);
      color: white;
    }

    &--secondary {
      margin-right: 5%;
    }
  }

  &__book-row {
    text-align: center;
    margin-top: 3%;
  }

  &__checkin-dates {
    margin: 0 6% 1%;
    padding: 2%;
    padding-right: 2%;
    border-radius: 1.2%;
    box-shadow: 2px 2px 8px grey;
    text-align: center;
  }

  &__destination-input,
  &__category-input {
    height: 55px;
  }

  &__guest-form {
    border: 1px solid lightgrey;
    border-radius: 4%;
    text-align: center;
    padding: 3% 12% 3% 0;
  }

  &__guest-done-button {
    width: 90%;
    margin-left: 10%;
    border: 1px solid var(--primary-color);

    &:hover {
      border: 1px solid var(--primary-color);
    }
  }

  &__guest-info-icon,
  &__clickable {
    cursor: pointer;
  }

  &__guest-info-row {
    border: 1px solid lightgrey;
    border-radius: 4%;
    padding: 6%;
  }

  &__search-button {
    width: 100%;
    height: 55px;
    background-color: var(--primary-color);
    color: white;

    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }

  &__gallery-wrapper {
    padding: 2% 5%;
  }

  &__header {
    padding: 0 6%;
  }

  &__title {
    font-family: 'Lora', serif;
    color: var(--primary-color);
    font-weight: bolder;
  }

  &__nav-link {
    font-family: 'Lora', serif;
    color: var(--primary-color);
    font-size: 1rem;
    cursor: pointer;
  }

  &__gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: 10rem;
    gap: 0.7rem;
    margin-bottom: 2rem;
  }

  &__gallery-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
  }

  &__feature-header {
    font-weight: bold;
  }

  &__section {
    padding: 3% 6% 4%;
  }

  &__section-title {
    font-family: 'Lora', serif;
    color: var(--primary-color);

    &--spaced {
      padding-bottom: 3%;
    }
  }

  &__amenity {
    width: 10rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 0.625rem;
    text-align: center;
  }

  &__feature-badge {
    display: inline-block;
    padding: 10%;
    margin-bottom: 10%;
    border-radius: 5%;
    background-color: var(--light-blue-color);
  }

  &__loading {
    margin-top: 10%;
    text-align: center;
  }

  &__review {
    margin-top: 3%;

    &-header {
      display: flex;
      flex-direction: row;
    }

    &-avatar {
      border-radius: 50%;
    }

    &-meta {
      margin-left: 3%;
    }

    &-name {
      font-family: 'Lora', serif;
      font-weight: bold;
      color: var(--primary-color);
    }

    &-date {
      font-family: 'Lora', serif;
      color: #808080;
    }

    &-text {
      font-family: 'Lora', serif;
    }
  }

  &__reviews-button {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }

  &__review-form {
    margin-left: 6%;
    margin-right: 50%;
  }

  &__review-input {
    height: 55px;

    &--error {
      height: 55px;
      border: 1px solid red;
    }
  }

  &__review-title {
    font-family: 'Lora', serif;
    color: var(--primary-color);
  }

  &__review-button {
    background-color: var(--primary-color);
    color: white;

    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }

  &__review-textarea {
    &--error {
      border: 1px solid red;
    }
  }

  &__review-feedback {
    font-family: 'Lora', serif;
  }

  &__map {
    &-wrapper {
      width: 80vw;
      height: 88vh;
      padding: 1%;
      border: 0.4px solid grey;
      border-radius: 1%;
    }

    &-container {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 480px) {
  .hotel-details {
    &__checkin-dates {
      margin-bottom: 7%;
    }

    &__date-error {
      margin-left: 1rem;
    }

    &__destination-form {
      padding: 3%;
    }

    &__destination-column {
      margin-bottom: 5%;
    }

    &__gallery-wrapper {
      margin-bottom: 5%;
    }

    &__book-button {
      width: 87%;
      margin-bottom: 10%;

      &--secondary {
        width: 85%;
      }
    }

    &__book-row {
      margin-top: 8%;
    }

    &__review-form {
      margin: 10% 6% 0;
    }

    &__post-review {
      margin: 0 6%;
    }

    &__section-title {
      margin-bottom: 10%;
      font-size: 1.2rem;
      font-weight: bold;
    }

    &__post-review-button {
      margin-left: 7%;
    }

    &__reviews-header {
      margin-bottom: 20%;
    }
  }
}